html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: #f58f1d;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.background {
    table-layout: fixed;
}

.logo-wrapper {
    position: relative;
}

.logo-cell {
    position: fixed !important;
    width: 100%;
    height: 30vh;
    top: 0.1vh;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    vertical-align: middle;
}

.logo-cell.visible {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.logo-cell.faded {
    opacity: 0.05;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.small-logo-cell {
    position: fixed;
    width: min-content;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    vertical-align: middle;
    left: 1vw;
}

.bread-crumb-cell {
    position: fixed;
    right: 1vw;
}

.right-small-header {
    text-align: left !important;
    color: white;
}

.logo-text {
    display: inline-block;
    line-height: 1.1;
    white-space: normal;
    font-size: 10px;
}

.inner-table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.cell {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.background-container {
    position: relative;
    width: 85vw;
    height: 170vw;
}

.line-art-background {
    position: absolute;
    top: 50%; /* center vertically inside container */
    left: 50%; /* center horizontally inside container */
    transform: translate(-50%, -50%); /* exact centering */
    width: 100%;
    height: 170vw;
    z-index: 0;
    pointer-events: none;
    background: transparent;
    opacity: 0.7;
}

.cell-text.container {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.shape-floater.top {
    float: left;
    width: 100%;
    height: 50%;
    background: transparent;
    opacity: 0.5;
    position: relative;
    z-index: 1;
    -webkit-shape-outside: polygon(50% 100%, 100% 100%, 62.61% 96%, 42.39% 83.67%, 26.24% 67.35%, 13.1% 48.94%, 4.03% 25.45%, 0% 0%, 0% 100%);
    shape-outside: polygon(50% 100%, 100% 100%, 62.61% 96%, 42.39% 83.67%, 26.24% 67.35%, 13.1% 48.94%, 4.03% 25.45%, 0% 0%, 0% 100%);
    -webkit-clip-path: polygon(50% 100%, 100% 100%, 62.61% 96%, 42.39% 83.67%, 26.24% 67.35%, 13.1% 48.94%, 4.03% 25.45%, 0% 0%, 0% 100%);
    clip-path: polygon(50% 100%, 100% 100%, 62.61% 96%, 42.39% 83.67%, 26.24% 67.35%, 13.1% 48.94%, 4.03% 25.45%, 0% 0%, 0% 100%);
}

.shape-floater.bottom {
    float: right;
    width: 100%;
    height: 50%;
    background: transparent;
    opacity: 0.5;
    position: relative;
    z-index: 1;
    -webkit-shape-: polygon(0% 0%, 41.36% 4%, 65.66% 22%, 81.83% 42%, 93.94% 68%, 100% 100%, 100% 0%);
    shape-outside: polygon(0% 0%, 41.36% 4%, 65.66% 22%, 81.83% 42%, 93.94% 68%, 100% 100%, 100% 0%);
    -webkit-clip-path: polygon(0% 0%, 41.36% 4%, 65.66% 22%, 81.83% 42%, 93.94% 68%, 100% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 41.36% 4%, 65.66% 22%, 81.83% 42%, 93.94% 68%, 100% 100%, 100% 0%);
}

.cell-text {
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 1.4;
    position: relative;
    z-index: 2;
    display: block;
}

.right {
    text-align: right;
    padding-top: 15vh;
    padding-left: 5vw;
    vertical-align: middle;
    white-space: normal;
}

.left {
    text-align: left;
    padding-top: 15vh;
    padding-right: 5vw;
    vertical-align: middle;
    white-space: normal;
}

.cell-text {
    color: white;
}

.neon-glow-button.right,
.neon-glow-button.left {
    margin-top: 7vh;
    padding: 0.8vh 1.8vw;
}

#menu-container.fixed-container {
    position: fixed; /* or absolute, if relative to a specific container */
    background-color: transparent;
    top: 50%;
    left: 95vw;
    width: 30vw;
    height: 30vw;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 900;
    pointer-events: auto;
}

.circle {
    position: absolute;
    top: 50%; /* center vertically inside container */
    left: 50%; /* center horizontally inside container */
    transform: translate(-50%, -50%); /* exact centering */
    pointer-events: auto; /* allow interaction if needed */
}

#nav-icon {
    z-index: 1000;
    opacity: 0.5;
    transition: transform 0.3s linear;
    will-change: transform;
    transform-origin: center center;
}

#nav-icon:hover {
    opacity: 1;
}

#outer-circle {
    z-index: 1000;
    cx: 50;
    cy: 50;
    r: 48;
    stroke: #f58f1d;
    stroke-width: 1;
    fill: none;
}

#center-dot {
    z-index: 1000;
    cx: 50;
    cy: 50;
    r: 10;
    fill: url(#grad3d);
    cursor: pointer;
}

#click-area {
    z-index: 999;
    cx: 50;
    cy: 50;
    r: 50;
    fill: black;
    cursor: pointer;
}

#orbit-path {
    z-index: 1000;
    fill: none;
    stroke: none;
}

#nav-menu {
    z-index: 999;
    background-color: transparent;
    pointer-events: auto;
}

#menu-background {
    z-index: 990;
    width: 50vw;
    height: auto;
    opacity: 0;
    transition: opacity 0.1s ease;
    transition: transform 0.1s ease;
    will-change: transform;
}

#menu-background.visible {
    opacity: 1;
}

.menu-item {
    position: absolute;
    color: white;
    opacity: 0;
    transition: opacity 0.1s ease;
    pointer-events: auto;
    white-space: nowrap;
}

.menu-item.visible {
    opacity: 1;
}

.menu-item img {
    height: 1em;
    width: auto;
}

/* For minor tweaks of menu items*/
.menu-item:nth-child(1) {
    transform: translate(0vw, 0vh);
}
.menu-item:nth-child(2) {
    transform: translate(0vw, 0vh);
}
.menu-item:nth-child(3) {
    transform: translate(0vw, 0vh);
}
.menu-item:nth-child(4) {
    transform: translate(0vw, 0vh);
}
.menu-item:nth-child(5) {
    transform: translate(0vw, 0vh);
}
.menu-item:nth-child(6) {
    transform: translate(0vw, 0vh);
}
.menu-item:nth-child(7) {
    transform: translate(0vw, 0vh);
}
.menu-item:nth-child(8) {
    transform: translate(0vw, 0vh);
}
.menu-item:nth-child(9) {
    transform: translateX(0vw, 0vh);
}

.center {
    text-align: center;
    white-space: normal;
}

.neon-glow-button {
    position: relative;
    z-index: 2;
    display: inline-block;
    border: none;
    margin-right: 1vw;
    color: #fff;
    padding: 1vw 2vw;
    background-color: black;
    cursor: pointer;
    box-shadow: 0 0 1vw #f58f1d;
    transition: all 0.3s ease;
}

.neon-glow-button:hover {
    box-shadow: 0 0 2vw #f58f1d;
}

.neon-glow-button:focus {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 1vw #f58f1d;
    }
    50% {
        box-shadow: 0 0 1vw #f58f1d;
    }
    100% {
        box-shadow: 0 0 1vw #f58f1d;
    }
}
