html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: #f58f1d;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.background {
    table-layout: fixed;
}

.margin-cell {
    width: 5%;
}

.logo-cell {
    height: 30vh;
}

.content-cell {
    width: 90%;
    padding: 2em;
}

.inner-table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.padding-cell {
    width: 5%;
}

.cell {
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.background-container {
    position: absolute;
    width: 100%;
    aspect-ratio: 1 / 2;
    height: auto;
}

.line-art-background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    background-color: black;
}

.cell-text {
    color: white;
    display: inline-block;
    line-height: 1.1;
    z-index: 1;
    position: relative;
    white-space: normal;
    font-size: 10px;
}

.logo-text {
    display: inline-block;
    line-height: 1.1;
    white-space: normal;
    font-size: 10px;
}
