html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: #f58f1d;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.background {
    table-layout: fixed;
}

.margin-cell {
    width: 5%;
}

.logo-cell {
    position: relative;
    width: 100%;
    height: 30vh;
    text-align: center;
    vertical-align: middle;
}

.logo-text {
    display: inline-block;
    line-height: 1.1;
    white-space: normal;
    font-size: 10px;
}

.content-cell {
    width: 90%;
    padding: 2em;
}

.inner-table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.padding-cell {
    width: 7%;
}

.cell {
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.background-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 2;
    height: 200vh;
}

.line-art-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    background: transparent;
    opacity: 0.5;
}

.cell-text.container {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
.shape-floater.top {
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    opacity: 0.5;
    position: relative;
    z-index: 1;
    shape-outside: polygon(50% 100%, 100% 100%, 60.61% 97%, 39.39% 83.67%, 24.24% 67.35%, 12.1% 46.94%, 3.03% 22.45%, 0% 0%, 0% 100%);
    -webkit-shape-outside: polygon(50% 100%, 100% 100%, 60.61% 97%, 39.39% 83.67%, 24.24% 67.35%, 12.1% 46.94%, 3.03% 22.45%, 0% 0%, 0% 100%);
    clip-path: polygon(50% 100%, 100% 100%, 60.61% 97%, 39.39% 83.67%, 24.24% 67.35%, 12.1% 46.94%, 3.03% 22.45%, 0% 0%, 0% 100%);
    -webkit-clip-path: polygon(50% 100%, 100% 100%, 60.61% 97%, 39.39% 83.67%, 24.24% 67.35%, 12.1% 46.94%, 3.03% 22.45%, 0% 0%, 0% 100%);
}

.shape-floater.bottom {
    float: right;
    width: 100%;
    height: 100vh;
    background: white;
    opacity: 0.5;
    position: relative;
    z-index: 1;
    shape-outside: polygon(52.53% 0%, 0% 0%, 44.36% 4%, 66.66% 22%, 82.83% 42%, 93.94% 68%, 100% 100%, 100% 0%);
    -webkit-shape-: polygon(52.53% 0%, 0% 0%, 44.36% 4%, 66.66% 22%, 82.83% 42%, 93.94% 68%, 100% 100%, 100% 0%);
    clip-path: polygon(52.53% 0%, 0% 0%, 44.36% 4%, 66.66% 22%, 82.83% 42%, 93.94% 68%, 100% 100%, 100% 0%);
    -webkit-clip-path: polygon(52.53% 0%, 0% 0%, 44.36% 4%, 66.66% 22%, 82.83% 42%, 93.94% 68%, 100% 100%, 100% 0%);
}

.cell-text {
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 1.4;
    position: relative;
    z-index: 2;
    display: block;
    font-size: clamp(1.2rem, 2.5vh + 1vw, 3.5rem);
}

@media (min-width: 768px) {
    .cell-text {
        font-size: 5vw;
    }

    p.right {
        padding-top: 10vh;
        vertical-align: middle;
        min-height: 65vh;
        max-height: 90vh;
    }

    p.left {
        padding-top: 10vh;
        vertical-align: middle;
        min-height: 65vh;
        max-height: 90vh;
    }

    .right {
        text-align: right;
        vertical-align: middle;
        white-space: normal;
    }

    .left {
        text-align: left;
        vertical-align: middle;
        white-space: normal;
    }
}

@media (max-width: 768px) {
    .cell-text {
        font-size: 3vw;
    }

    p.right {
        padding-top: 10vh;
        vertical-align: middle;
        min-height: 85vh;
    }

    p.left {
        padding-top: 10vh;
        vertical-align: middle;
        min-height: 85vh;
    }

    .right {
        text-align: right;
        vertical-align: middle;
        white-space: normal;
    }

    .left {
        text-align: left;
        vertical-align: middle;
        white-space: normal;
    }
}

.center {
    text-align: center;
    white-space: normal;
}

.neon-glow-button.right {
    position: relative;
    z-index: 2;
    display: inline-block;
    border: none;
    margin-right: 1vw;
    color: #fff;
    padding: 1vw 2vw;
    font-size: 2vw;
    background-color: black;
    cursor: pointer;
    box-shadow: 0 0 1vw #f58f1d;
    transition: all 0.3s ease;
}

.neon-glow-button.left {
    position: relative;
    z-index: 2;
    display: inline-block;
    border: none;
    margin-right: 1vw;
    color: #fff;
    padding: 1vw 2vw;
    font-size: 2vw;
    background-color: black;
    cursor: pointer;
    box-shadow: 0 0 1vw #f58f1d;
    transition: all 0.3s ease;
}

.neon-glow-button:hover {
    box-shadow: 0 0 2vw #f58f1d;
}

.neon-glow-button:focus {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 1vw #f58f1d;
    }
    50% {
        box-shadow: 0 0 1vw #f58f1d;
    }
    100% {
        box-shadow: 0 0 1vw #f58f1d;
    }
}
